saida_app/
PORTARIA_APK/
OLD.VERSIONS/
IOS/

# Android SDK
Sdk/

# Python
__pycache__/
*.pyc

# Android/Gradle
.gradle/
build/
**/build/
*.apk
*.aab

# IDE
.idea/
*.iml

# Local configuration
local.properties

*.plist
!GoogleService-Info.plist
